body {
    display: flex;
    margin: 0;
    overflow: hidden;
    --sidebar-color: rgb(166, 87, 87);
}

#left-bar {
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; /* Same width as previously */
    background-color: var(--sidebar-color);
}

#left-bar-nodes, #left-bar-paths {
    flex: 1;
    overflow: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #333 var(--sidebar-color); /* Firefox */
}

#left-bar-nodes::-webkit-scrollbar, #left-bar-paths::-webkit-scrollbar {
    width: 8px; /* Chrome, Safari, and Opera */
}

#left-bar-nodes::-webkit-scrollbar-track, #left-bar-paths::-webkit-scrollbar-track {
    background: var(--sidebar-color);
}

#left-bar-nodes::-webkit-scrollbar-thumb, #left-bar-paths::-webkit-scrollbar-thumb {
    background-color: #333; /* Very dark gray */
    border-radius: 10px;
    border: 2px solid var(--sidebar-color); /* Adds padding around the thumb */
}

#left-bar-nodes::-webkit-scrollbar-button, #left-bar-paths::-webkit-scrollbar-button {
    display: none; /* Remove the arrow buttons */
}

#map {
    margin: 0;
    flex: 1;
}

#right-bar {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: var(--sidebar-color);
}

#right-bar > #upload {
    width: 100%;
}

.hambrgr {
    display: none;
}

#leaflut {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}

#node-view button {
    background: none;
}

#node-view .expanded {
    background-color: red;
}

#node-view > div {
    background-color: blue;
}

.list-title {
    position: sticky;
    top: 0;
    background-color: var(--sidebar-color);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
    color: white; /* Improved readability */
}

.popup {
    position: absolute;
    bottom: 10px;
    left: 210px; /* Position to the right of the sidebar */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    width: auto; /* Revert to auto width */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px; /* Revert to original position */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn {
    display: block;
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}